3==0.0.0
asgiref==3.2.5
astroid==2.3.3
certifi==2019.11.28
colorama==0.4.3
dj-database-url==0.5.0
Django==3.0.14
django-betterforms==1.2
django-form-utils==1.0.3
django-localflavor==3.0.1
django-mapbox-location-field==1.4.0
django-qr-code==1.1.0
entrypoints==0.3
flake8==3.7.9
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==7.1.1
psycopg2-binary==2.8.5
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
python-stdnum==1.13
pytz==2019.3
qrcode==6.1
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
whitenoise==5.0.1
wincertstore==0.2
wrapt==1.11.2
