{% extends 'base.html' %}
{% block head %}
    {% load mapbox_location_field_tags %}
    {% location_field_includes %}
    {% include_jquery %}
{% endblock %}
{% block content %}

<form action="" method="post">
{% csrf_token %}
    {% if form.is_login %}
    <h3>Entra</h3>
    {% else %}
    <h3>Registra't</h3>
    {% endif %}
    {{ form }}

    <input type="submit" value="Envia">
</form>
{{ form.media }}

{% if form.is_login %}
<p>Nou a ConfinApp Comerç? <a href="/user/register">Registra't</a><br><br>
Ets un venedor? <a href="/user/register/shop_admin">Comença</a>
</p>
{% endif %}

{% endblock %}