{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Cercar botigues</h3>
        {{ form }}
        <a id = "map-link" target="_blank"></a>
        <input type="submit" value="Search">
    </form>
    <br><br>

    <div class="shop-card-container">
        {% for shop in shops %}
        <a href="{% url 'go_shop' id=shop.shop.id time_str=time %}">
            <div class="shop-card">
                <div class="image-card" style="background-image: url('{{ shop.shop.photo.url }}')">
                    <h4><span>
                        {{ shop.shop.name }}
                    </span></h4>
                </div>

                <div class="content-card">
                    <span>
                        <p><span>
                            Ocupació: {{ shop.ocupacio }}
                        </span></p>
                    </span>
                    <span id="span_distance">
                        A {{ shop.distance|stringformat:'d' }} minuts.
                    </span>

                    {{ shop.shop.description }}

                </div>
            </div>
        </a>
        {% endfor %}
    </div>
<script>
function geoFindMe() {

  const status = document.querySelector('#id_location');

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    status.value = `${latitude}, ${longitude}`;
    console.log(status.value)
  }

  function error() {
    status.value = 'Unable to retrieve your location';
  }

  if (!navigator.geolocation) {
    status.value = 'Geolocation is not supported by your browser';
  } else {
    status.value = 'Locating…';
    navigator.geolocation.getCurrentPosition(success, error);
  }

}

document.querySelector('#id_location').addEventListener("click", geoFindMe);
</script>

{% endblock %}