{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Cercar botigues</h3>
        {{ form }}
        <a id = "map-link" target="_blank"></a>
        <input type="submit" value="Search">
    </form>
    <br><br>

    <div class="shop-card-container">
        {% for shop in shops %}
        <a class="link-card" href="{% url 'go_shop' id=shop.shop.id time_str=time %}">
            <div class="shop-card">
                <div class="image-card" style="background-image: url('{{ shop.shop.photo.url }}')">
                    <h4><span>
                        {{ shop.shop.name }}
                    </span></h4>


                </div>

                <div class="content-card">
                    <div class="rank-container">
                        <span id="span_distance">
                            A {{ shop.distance|stringformat:'d' }} minuts.
                        </span>
                        {% if shop.ocupacio < 5  %}
                        <span id="span_ocupacio"  style="background-color: lightgreen;"> <!--lightgreen-->
                                Ocupació: {{ shop.ocupacio }}
                        </span>
                        {% elif shop.ocupacio < 10  %}
                        <span id="span_ocupacio" style="background-color: khaki;"> <!--khaki-->
                                Ocupació: {{ shop.ocupacio }}
                        </span>
                        {% else  %}
                        <span id="span_ocupacio">
                                Ocupació: {{ shop.ocupacio }}
                        </span>
                        {% endif %}
                    </div>
                    <p style="text-align: left;">{{ shop.shop.description }}</p>

                </div>
            </div>
        </a>
        {% endfor %}
    </div>
<script>
function geoFindMe() {

  const status = document.querySelector('#id_location');

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    status.value = `${latitude}, ${longitude}`;
    console.log(status.value)
  }

  function error() {
    status.value = 'No s\'ha pogut trobar la teba localització';
  }

  if (!navigator.geolocation) {
    status.value = 'El teu navegador no soporta la geolocalització';
  } else {
    status.value = 'Carregant…';
    navigator.geolocation.getCurrentPosition(success, error);
  }

}

document.querySelector('#id_location').addEventListener("click", geoFindMe);
</script>

{% endblock %}