{% extends 'base.html' %}
{% block content %}
{% load qr_code %}
<div class="shop-card-container">
    <div class="shop-card">

        <div class="image-card" style="background-image: url('{{ purchase.shop.photo.url }}')">
                <h4><span>Botiga {{ purchase.shop.name }}</span></h4>
        </div>

        <div class="content-card">
            <div class="basic-info">
                <h5>Informació de la compra</h5>
                <p><label>Data: </label> {{ purchase.dateTime|date:'d, M, Y H:m' }}</p>
                <p><label>Estat: </label>{{ purchase.status_str }}</p>
            </div>

            {% if purchase.is_pending %}
                <div>
                    {% qr_from_text qrurl %}
                </div>
            {% endif %}
        </div>

        <div class="buttons-container-simple">
            <a href="{% url 'user_list' %}" class="button">Tornar</a>
        </div>
    </div>
</div>
<style>
    svg {
        height: auto;
        width: 100%;
    }
</style>
{% endblock %}