{% extends 'base.html' %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data" id="form_id" style="display: none;">{% csrf_token %}</form>
<div class="shop-card-container">
    <div class="shop-card">
        <div class="image-card" style="background-image: url('{{ shop.photo.url }}')">
                <h4><span>{{ shop.name }}</span></h4>
        </div>
        <div class="content-card">
            <div class="categories-card">
                <h5>Descripció</h5>
                <p>{{ shop.description }}</p>
            </div>

            <div class="categories-card">
                <h5>Categories</h5>
                <ul class="card-list">
                    {% for sc in shop.secondaryCategories.all %}
                        <li>{{ sc.name }} </li>
                    {% empty %}
                        <li>No hi ha categories.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="services-card">
                <h5>Serveis</h5>
                <ul class="card-list">
                      {% for ss in shop.services.all %}
                        <li>{{ ss.name }} </li>
                      {% empty %}
                          <li>No hi ha serveis.</li>
                      {% endfor %}
                  </ul>
            </div>

            <div class="schedules-card">
                    <h5>Horaris</h5>
                    {% if shop.schedule.all %}
                        <div>
                            <div class="datacontainer-header">
                                <div>
                                    <label>Hora inici</label>
                                    <label>Hora fi</label>
                                </div>
                            </div>

                            <div class="data-container">
                                <div class="days-container">
                                    {% for ss in shop.schedule.all %}
                                        <label>{{ ss.get_day_name }} </label>
                                    {% endfor %}
                                </div>
                                <div class="hours-container">
                                    {% for ss in shop.schedule.all %}
                                        <label>{{ ss.startHour|time:"H:i" }} </label>
                                      <label>{{ ss.endHour|time:"H:i" }} </label>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div>
                            <label>No hi ha horari.</label>
                        </div>
                    {% endif %}

                </div>


            <div class="categories-card">
                <h5>Hora</h5>
                <p>{{ time }}</p>
            </div>
            <div class="categories-card">
                <h5>Indicació a la botiga</h5>
                <a class="button-iconic" href="https://www.google.com/maps/dir/?api=1&destination={{ shop.latitude }},{{ shop.longitude }}">
                    <i class="fa fa-map"></i>
                </a>
            </div>
        </div>
        <div class="buttons-container-simple">
            <a onclick="goBack()" class="button">Tornar</a>
            <input type="submit" value="Anar" form="form_id">
        </div>

    </div>
</div>
<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock %}