{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Les meves compres</h3>
        <div class="buttons-container-simple-centered"">
            <input type="hidden" name="value" value={{ text }}>
            <input type="submit" value={{ text }}>
        </div>
    </form>
    <br><br>

    <div class="shop-card-container">
        {% for shop in list %}
        <a class="link-card" href="{% url 'purchase' id=shop.id %}">
            <div class="shop-card">

                <div class="image-card" style="background-image: url('{{ shop.shop.photo.url }}')">
                    <h4><span>
                        {{ shop.shop.name }}
                    </span></h4>

                </div>
                <div class="content-card">
                    <div class="rank-container">
                        <span>
                            {{ shop.dateTime|date:"d-m-Y G:i" }}
                        </span>
                        {% if shop.status == 'A' %} <!--accepted-->
                            <span id="span_ocupacio" style="background-color: lightgreen;">
                                   {{ shop.status_str }}
                            </span>
                        {% elif shop.status == 'P' %} <!--pending-->
                            <span id="span_ocupacio" style="background-color: khaki;">
                                   {{ shop.status_str }}
                            </span>
                        {% else %} <!--rejected-->
                            <span id="span_ocupacio">
                                   {{ shop.status_str }}
                            </span>
                        {% endif %}
                    </div>
                </div>

            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}