{% extends 'base.html' %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3>Les meves compres</h3>
        <div class="buttons-container-simple-centered"">
            <input type="hidden" name="value" value={{ text }}>
            <input type="submit" value={{ text }}>
        </div>
    </form>
    <br><br>

    <div class="shop-card-container">
        {% for shop in list %}
        <div class="shop-card">

            <!--<img src={{ shop.photo.url }}>-->

            <div class="image-card" style="background-image: url('{{ shop.shop.photo.url }}')">
                <h4><span><a href="{% url 'purchase' id=shop.id %}">{{ shop.shop.name }}</a></span></h4>

            </div>
            <div class="content-card">
                <span>
                    <a class="go-shop" href="{% url 'purchase' id=shop.id %}">
                        {{ shop.dateTime|date:"D-M-Y H:m" }}
                    </a>
                </span>
            </div>

        </div>
        {% endfor %}
    </div>
{% endblock %}