<input style="display: none;" type="{{ widget.type }}" name="{{ widget.name }}" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<input id="{{ widget.name }}-hour" onchange="updateHiddenInput()" class="time" type="number" value="5" min="0" max="23">
<input id="{{ widget.name }}-minute" onchange="updateHiddenInput()" class="time" type="number" value="30" min="0" max="60" step="5">
<script>
    let {{ widget.name }}_inputTime = document.getElementsByName("{{ widget.name }}")[0];
    let {{ widget.name }}_inputHour = document.getElementById("{{ widget.name }}-hour");
    let {{ widget.name }}_inputMinute = document.getElementById("{{ widget.name }}-minute");

    let {{ widget.name }}_hour = {{ widget.name }}_inputTime.value.split(":")[0];
    let {{ widget.name }}_minute = {{ widget.name }}_inputTime.value.split(":")[1];

    {{ widget.name }}_inputHour.value = {{ widget.name }}_hour;
    {{ widget.name }}_inputMinute.value = {{ widget.name }}_minute;

    function updateHiddenInput() {
        {{ widget.name }}_inputHour.value = parseInt({{ widget.name }}_inputHour.value) + parseInt({{ widget.name }}_inputMinute.value / 60);
        {{ widget.name }}_inputMinute.value = {{ widget.name }}_inputMinute.value % 60;
        {{ widget.name }}_inputTime.value = {{ widget.name }}_inputHour.value + ":" + {{ widget.name }}_inputMinute.value;
    }
</script>