
<style>
    .time-widget-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .time-widget-container > input {
        width: 40px;
        border: none;
    }

    .time-widget-container * {
        font-size: 20px;
        font-weight: bold;
    }

    #{{ widget.name }}-hour {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .time-widget-container div {
        background-color: var(--secondary);
        height: 39.5px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }


    #{{ widget.name }}-minute {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

</style>

<input style="display: none;" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<div class="time-widget-container">
    <input id="{{ widget.name }}-hour" onchange="{{ widget.name }}_updateHiddenInput()" class="time" type="number" value="5" min="0" max="23">
    <div><span id="points">:</span></div>
    <input id="{{ widget.name }}-minute" onchange="{{ widget.name }}_updateHiddenInput()" class="time" type="number" value="30" min="0" max="60" step="5">
</div>

<script>
    let {{ widget.name }}_inputTime = document.getElementsByName("{{ widget.name }}")[0];
    let {{ widget.name }}_inputHour = document.getElementById("{{ widget.name }}-hour");
    let {{ widget.name }}_inputMinute = document.getElementById("{{ widget.name }}-minute");

    let {{ widget.name }}_hour = {{ widget.name }}_inputTime.value.split(":")[0];
    let {{ widget.name }}_minute = {{ widget.name }}_inputTime.value.split(":")[1];

    {{ widget.name }}_inputHour.value = {{ widget.name }}_hour.padStart(2, 0);
    {{ widget.name }}_inputMinute.value = {{ widget.name }}_minute - {{widget.name}}_minute % 5;
    {{ widget.name }}_inputMinute.value = {{ widget.name }}_inputMinute.value.padStart(2, 0);

    function {{ widget.name }}_updateHiddenInput() {
        {{ widget.name }}_inputMinute.value = {{ widget.name }}_inputMinute.value - {{widget.name}}_inputMinute.value % 5;
        {{ widget.name }}_inputHour.value = parseInt({{ widget.name }}_inputHour.value) + parseInt({{ widget.name }}_inputMinute.value / 60);
        {{ widget.name }}_inputMinute.value = {{ widget.name }}_inputMinute.value % 60;
        {{ widget.name }}_inputTime.value = {{ widget.name }}_inputHour.value + ":" + {{ widget.name }}_inputMinute.value;

        {{ widget.name }}_inputMinute.value = {{ widget.name }}_inputMinute.value.padStart(2, 0);
        {{ widget.name }}_inputHour.value = {{ widget.name }}_inputHour.value.padStart(2, 0);
    }
</script>