{% extends 'base.html' %}
{% block content %}
{% csrf_token %}


<form action="" method="post" enctype="multipart/form-data">
    <h3>Admins</h3>

    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Afegeix">

    <ul class="shop-list">
    {% for admin in admins %}
        <div class="shop-row-container admin-info-container">
            <div class="admin-info">
                <li style="display: inline-block; font-weight: bold;">{{ admin.name }} </li>
                <li style="display: inline-block;">({{ admin.email }}) </li>
            </div>
            <a href="{% url 'delete_shop_admins' id=id idA=admin.id %}" class="button admin-button">Borrar</a>

        </div>

    {% empty %}
        <li>No hi han admins</li>


    {% endfor %}
    </ul>
<a href="{% url 'show_shop' id=id %}" class="button">Tornar</a>
</form>

{% endblock %}