{% extends 'base.html' %}
{% block head %}
    {% load mapbox_location_field_tags %}
    {% location_field_includes %}
    {% include_jquery %}
{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">

    {% if form.is_add_shop %}
    <h3>Modifica la teva botiga</h3>

    {% endif %}
    {% csrf_token %}
    {% for f in form %}
        {% if f.name == 'photo' %}
            <div style="background-image: url('{{ shop.url }}'); width: 100px; height: 100px;"></div>
            {{ f }}
        {% else %}
            {{ f }}
        {% endif %}
    {% endfor %}
    <div class="buttons-container">
        <a href="{% url 'list_shop' %}" class="button">Tornar</a>
        <input type="submit" value="Guardar">
        <a href="{% url 'list_schedule'  id=id  %}" class="button">Horaris</a>
        <a href="{% url 'del_shop' id=id  %}" class="button">Borrar</a>
    </div>
</form>
{{ form.media }}
{% endblock %}