{% extends 'base.html' %}
{% block content %}
{% csrf_token %}


<form action="" method="post" enctype="multipart/form-data">
    <h3>Horaris</h3>



    <ul class="shop-list">
    {% for schedule in schedules %}
        <div class="shop-row-container schedules">
            <li style="display: inline-block; font-weight: bold;">{{ schedule.get_day_name }} </li>
            <li style="display: inline-block;">{{ schedule.startHour.isoformat }} </li>
            <li style="display: inline-block;">{{ schedule.endHour.isoformat }} </li>
            <a href="{% url 'del_schedule' id=id idS=schedule.id %}" class="button">Borrar</a>
        </div>

    {% empty %}
        <li>Encara no tens horaris.</li>


    {% endfor %}
    </ul>
<a href="{% url 'add_schedule' id=id %}" class="button">Crea un horari</a>
</form>

{% endblock %}