{% extends 'base.html' %}
{% block content %}

 <div class="shop-card-container">
    <div class="shop-card">

        <div class="image-card" style="background-image: url('{{ shop.photo.url }}')">
                <h4><span>Botiga {{ shop.name }}</span></h4>
        </div>

        <div class="content-card">
            <div class="basic-info">
                <h5>Informació bàsica</h5>
                <p><label>CIF: </label> {{ shop.CIF }}</p>
                <p><label>Temps mitjà: </label>{{ shop.meanTime }}</p>
                <p><label>Latitud: </label> {{ shop.latitude }}</p>
                <p><label>Longitud: </label> {{ shop.longitude }}</p>
            </div>

            <div class="categories-card">
                <h5>Descripció</h5>
                <!--<p>{{ shop.description }}</p>-->
            </div>

            <div class="categories-card">
                <h5>Categories</h5>
                <ul class="card-list">
                    {% for sc in shop.secondaryCategories.all %}
                        <li>{{ sc.name }} </li>
                    {% empty %}
                        <li>No secondary categories.</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="services-card">
                <h5>Serveis</h5>
                <ul class="card-list">
                      {% for ss in shop.services.all %}
                        <li>{{ ss.name }} </li>
                      {% empty %}
                          <li>No services.</li>
                      {% endfor %}
                  </ul>
            </div>
        </div>


        <div>
            <label>Temps mitjà:</label> {{ shop.meanTime }}
        </div>

        <div>
            <label>Latitud:</label> {{ shop.latitude }}
        </div>

        <div>
            <label>Longitud:</label> {{ shop.longitude }}
        </div>

        <label>Categories:</label>
        <ul>
            {% for sc in shop.secondaryCategories.all %}
                <li>{{ sc.name }} </li>
            {% empty %}
                <li>No hi ha categories.</li>
            {% endfor %}
        </ul>
        <label>Serveis:</label>
        <ul>
              {% for ss in shop.services.all %}
                <li>{{ ss.name }} </li>
              {% empty %}
                  <li>No hi ha serveis.</li>
              {% endfor %}
          </ul>
          <a href="{% url 'list_shop' %}" class="button">Tornar</a>

        <div class="buttons-container-simple">
            <a href="{% url 'list_shop' %}" class="button">Tornar</a>
          <a href="{% url 'modify_shop' id=shop.id   %}" class="button">Editar</a>

        </div>



    </div>
 </div>


{% endblock %}